@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Outfit:wght@300&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 400px;
  text-align: center;
  background-color: rgba(99, 103, 104, 0.803);
  overflow: hidden;
}

.keypads {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(40px, auto);
}

.keypads button {
  outline: none;
  border: 1px solid rgb(189, 182, 182);
  padding: 20px;
}

.operator {
  background-color: rgb(244, 156, 4);
}

.display {
  width: 99%;
  height: 40px;
  text-align: end;
  background-color: rgba(99, 103, 104, 0.803);
  color: white;
  border: 0;
  outline: none;
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.zero {
  grid-column: 1 / 3;
}
